*.npy
*.mat
*.pth
*.png

*.mp4
*.pdf
*.npz
*.pt
*.gif

*.csv

__pycache__/
*.pyc
*.txt
*.zip
*.svg
*.list
*.xlsx
*.tx
*.list~
*.pkl

*.pdf_only

src/ANI.egg-info/*

!Lorenz-stenflo/OSNET_Lorenz_stenflo_4th_0.mat
!Lorenz-stenflo/OSNET_Lorenz_stenflo_2th_0.mat
!Lorenz-stenflo/OSNET_Lorenz_stenflo_base_0.mat
!Lorenz-stenflo/ANI_Lorenz_stenflo_true_0.mat
!Lorenz-stenflo/dataset/**
!Lorenz-stenflo/2th_h32/*.txt
!Lorenz-stenflo/4th_h32/*.txt
!Lorenz-stenflo/NeuralRK4_h32/*.txt

!requirements.txt

!Pendulum/2th_test/*.txt
!Pendulum/4th_test/*.txt
!Pendulum/6th_test/*.txt
!Pendulum/neural_RK4/*.txt
!Pendulum/2th_test/*.npy
!Pendulum/4th_test/*.npy
!Pendulum/6th_test/*.npy
!Pendulum/neural_RK4/*.npy

!Glycolytic/2th/*.txt
!Glycolytic/4th/*.txt
!Glycolytic/2th/*.npy
!Glycolytic/4th/*.npy
!Glycolytic/NeuralRK4/*.txt
!Glycolytic/NeuralRK4/*.npy

!Morris/2th/*.txt
!Morris/4th/*.txt
!Morris/2th/*.npy
!Morris/4th/*.npy
!Morris/Euler/*.txt
!Morris/Euler/*.npy


!CompoundPendulum/2th/*.txt
!CompoundPendulum/4th/*.txt
!CompoundPendulum/2th/*.npy
!CompoundPendulum/4th/*.npy
!CompoundPendulum/baseline/*.txt
!CompoundPendulum/baseline/*.npy

!Kan/2th/*.txt
!Kan/4th/*.txt
!Kan/2th/*.npy
!Kan/4th/*.npy
!Kan/RK4/*.txt
!Kan/RK4/*.npy
!Kan/dataset/kan_test_trajectories_1.mat

!Euler/2th/*.txt
!Euler/4th/*.txt
!Euler/2th/*.npy
!Euler/4th/*.npy
!Euler/Exact/*.csv
!Euler/Exact/*.c
!Euler/Exact/*.h

!Fitzhugh-Nagumo/2th_new/*.txt
!Fitzhugh-Nagumo/4th_new/*.txt
!Fitzhugh-Nagumo/NEW_baseline/*.txt

!KolmogorovFlow/2th/*.txt
!KolmogorovFlow/4th/*.txt
!KolmogorovFlow/2th/*.npy
!KolmogorovFlow/4th/*.npy
!KolmogorovFlow/FNO_baseline/*.txt
!KolmogorovFlow/FNO_tradeoff_pretrain/*.txt
!KolmogorovFlow/FNO_tradeoff_pretrain/*.sh
!KolmogorovFlow/baseline/*.txt

!NS/2th/*.txt
!NS/4th/*.txt
!NS/2th/*.npy
!NS/4th/*.npy
!NS/FNO_pretrain/*.sh
!NS/FNO_tradeoff_pretrain/*.sh
!NS/FNO_tradeoff_pretrain/*.txt
!NS/baseline/*.txt
!NS/baseline/*.npy

!Basin/2th/ANI2_Best_01031500.pth
!Basin/4th/ANI4_Best_01031500.pth
!Basin/baseline/Baseline_Best_01031500.pth
!Basin/dataset/data_01031500.pt

!Battery/2th/best_ani2_model.pth
!Battery/4th/best_ani4_model.pth
!Battery/baseline/best_baseline_model.pth
!Battery/dataset/processed_battery_data_rollout.pt
!Battery/*.csv

src/osnet.egg-info/

*.ts
*.bin
HPC/combined
HPC/prior_oscillator_eigen
CompoundPendulum/*.ipynb