*.npy
*.mat
*.pth
*.png

*.mp4
*.pdf
*.npz
*.pt
*.gif

__pycache__/
*.pyc
*.txt
*.zip
*.svg

src/ANI.egg-info/*

!Lorenz-stenflo/OSNET_Lorenz_stenflo_4th_0.mat
!Lorenz-stenflo/OSNET_Lorenz_stenflo_2th_0.mat
!Lorenz-stenflo/OSNET_Lorenz_stenflo_base_0.mat
!Lorenz-stenflo/ANI_Lorenz_stenflo_true_0.mat