*.npy
*.mat
*.pth
*.png

*.mp4
*.pdf
*.npz
*.pt
*.gif

*.csv

__pycache__/
*.pyc
*.txt
*.zip
*.svg
*.list
*.xlsx
*.tx
*.list~
*.pkl

*.pdf_only

src/ANI.egg-info/*

!Lorenz-stenflo/OSNET_Lorenz_stenflo_4th_0.mat
!Lorenz-stenflo/OSNET_Lorenz_stenflo_2th_0.mat
!Lorenz-stenflo/OSNET_Lorenz_stenflo_base_0.mat
!Lorenz-stenflo/ANI_Lorenz_stenflo_true_0.mat
!Lorenz-stenflo/dataset/**

!requirements.txt

!Pendulum/2th_test/*.txt
!Pendulum/4th_test/*.txt
!Pendulum/6th_test/*.txt
!Pendulum/neural_RK4/*.txt
!Pendulum/2th_test/*.npy
!Pendulum/4th_test/*.npy
!Pendulum/6th_test/*.npy
!Pendulum/neural_RK4/*.npy

!Glycolytic/2th/*.txt
!Glycolytic/4th/*.txt
!Glycolytic/2th/*.npy
!Glycolytic/4th/*.npy
!Glycolytic/NeuralRK4/*.txt
!Glycolytic/NeuralRK4/*.npy