fine==2.6.0
numpy>=1.22,<=2.4.2
pandas>=1.4,<=2.3.3
matplotlib<=3.10.8
scipy>=1.7.2,<=1.17.1
scikit-learn>=1.2,<=1.8.0

einops
givernylocal
mayavi
pysindy
seaborn
setuptools
sympy
torch
torchdiffeq
tqdm